.container-fluid{
    display:flex;
    justify-content:space-between;
    background-color: rgb(53, 12, 4);
    padding:10px
    

}
.navbar-brand{
    float:left;
    text-decoration:none;
    color:white;
    margin-top:10px;
    
}


ul li{
    list-style:none;
    float:left;
    justify-content:space-around;
    margin-right:20px;
    
}
.nav-link{
    text-decoration:none;
    color:white;
}
h3{
    color:white !important;
}
img:hover{
    transform: scale(1.1);
    transition: filter 0.3s ease ;
}
.search-button{
    padding:8px 12px;
    background-color:rgb(63, 12, 2) !important;
    color:white;
    
    
}
.search-button:hover{
    background-color: rgb(119, 73, 64) !important;;
}
.search-input{
    padding:10px 20px;
   
}